@font-face {
  font-family: 'TypeWriter';
  src: url('@/assets/B52.ttf');
}

:root {
  font-family: 'TypeWriter', monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  --color-red: #ec3e01;
  --color-white: #ffffff;
  --color-gray: #454f5b;
  --color-grey: #888888;
  --color-black: #0c0100;
  --color-shadow: #0c010088;

  background-color: var(--color-red);
  color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.header,
.main,
.footer {
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 1.25rem;
  width: 80vw;
  position: relative;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}
/* .header:before,
.header:after,
.footer:before,
.footer:after, */
.header,
.footer {
  height: 10vh;
}

.main {
  margin: -1px auto;
}

/* .main:before,
.main:after, */
.main
{
  height: calc(100vh - 20vh - 2.5rem - 29px - 32px);
}

/* .header:before,
.header:after,
.main:before,
.main:after,
.footer:before,
.footer:after {
  content: '';
  position: absolute;
  top: 0;
  width: 0.1px;
  box-shadow: 0 0 1.25rem var(--color-black);
}

.header:before,
.footer:before {
  left: 0;

} */

@media (orientation: portrait) {}
a {
  text-decoration: none;
  background-color: var(--color-white);
}

a:link {
  color: var(--color-black);
}

a:visited {
  color: var(--color-black);
}

a:not(.logo, .nav-tel, .arrow-link):hover {
  color: var(--color-black);
  filter: invert(1);
  -webkit-filter: invert(1);
}

a:active {
  color: var(--color-black);
}

.underline {
  text-decoration: underline;
}

@keyframes jump-right {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  8.333% {
    transform: translateX(25%);
    -webkit-transform: translateX(25.3%);
    -moz-transform: translateX(25.3%);
    -ms-transform: translateX(25.3%);
    -o-transform: translateX(25.3%);
}

  16.666% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  25% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

  33.333% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  41.666% {
    transform: translateX(75%);
    -webkit-transform: translateX(75%);
    -moz-transform: translateX(75%);
    -ms-transform: translateX(75%);
    -o-transform: translateX(75%);
}

  50% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

.jump-right-on-hover:hover {
    animation: jump-right 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation: jump-right 6s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

ol, ul, menu {
  list-style: none;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  height: 100vh;
  overflow: hidden;
}
