@font-face {
  font-family: 'TypeWriter';
  src: url('@/assets/B52.ttf');
}

:root {
  font-family: 'TypeWriter', monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  --color-red: #ec3e01;
  --color-white: #ffffff;
  --color-black: #0c0100;

  background-color: var(--color-red);
  color: var(--color-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  background-color: var(--color-white);
}

a:link {
  color: var(--color-black);
}
a:visited {
  color: var(--color-black);
}
a:hover {
  color: var(--color-black);
  filter: invert(1);
  -webkit-filter: invert(1);
}
a:active {
  color: var(--color-black);
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  height: 100vh;
  overflow: hidden;
}

.main {
  width: 80dvw;
  background-color: var(--color-white);
  color: var(--color-black);
}
